* {
	margin: 0px;
	box-sizing: border-box;
}
body {
	font-family: sans-serif;
}
header {
	background-color: beige;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 16px 32px;
	position: fixed;
	z-index: 10;
	width: 100%;
}
.navigation {
	display: flex;
	align-items: center;
}
.navigation a {
	margin-right: 16px;
	font-weight: 400;
	color: #0060b6;
	text-decoration: none;
	cursor: pointer;
}
.logo {
	display: flex;
	align-items: center;
}
.logo__img {
	height: 40px;
}
.logo__text {
	font-size: 24px;
	font-weight: 600;
	margin-left: 5px;
}
#searchBar {
	width: 300px;
}
/* _____banner styles_____ */
main {
	padding-top: 70px;
}
#banner {
	position: relative;
}
#bannerImg {
	width: -webkit-fill-available;
}
#logo {
	position: absolute;
	left: 85px;
	bottom: -3px;
	height: 150px;
	border: 5px solid white;
}
th, td {
    
    padding: .2em 1em .2em .5em;
    text-align: left;
    vertical-align: middle;
}
.right {
    text-align: right;
}
td[rowspan] {
    background-color: white !important; 
    font-weight: bold;
    vertical-align: top;
}
tbody tr:nth-child(odd) td {
    background-color: rgb(192, 211, 254);
}
tbody tr:nth-child(even) td {
    background-color: rgb(192, 227, 255);
}
figcaption{
    text-align: left;
}
figure {
    text-align: left;
}

#content {
	padding: 0px 32px;
}
#content p {
	margin: 16px 0px;
}
#content__heading {
	font-size: 28px;
	font-weight: bold;
}
#content__description {
	width: 67%;
}

/* _____________Slideshow container styles here_____________ */
.slideshow-container {
	max-width: 1000px;
	position: relative;
	margin: auto;
}

/* Hide the images by default */
.mySlides {
	display: none;
}

/* Next & previous buttons */
.prev,
.next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	margin-top: -22px;
	padding: 16px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
}

/* Position the "next button" to the right */
.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
	background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
	color: #f2f2f2;
	font-size: 15px;
	padding: 8px 12px;
	position: absolute;
	bottom: 8px;
	width: 100%;
	text-align: center;
}

/* Number text (1/5 etc) */
.numbertext {
	color: #f2f2f2;
	font-size: 12px;
	padding: 8px 12px;
	position: absolute;
	top: 0;
}

/* The dots/bullets/indicators */
.dot {
	cursor: pointer;
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}

.active,
.dot:hover {
	background-color: #717171;
}

/* Fading animation */
.fade {
	animation-name: fade;
	animation-duration: 1.5s;
}

@keyframes fade {
	from {
		opacity: 0.4;
	}
	to {
		opacity: 1;
	}
}

/* _________footer style here___________________ */
footer {
	text-align: center;
	background-color: beige;
	padding: 16px 0px;
}
footer p {
	margin-top: 5px;
}

/*  _________________GalleryPage Styles__________*/
#galleryMain {
	padding: 90px 32px 0px;
}
#galleryContainer {
	display: flex;
	margin: 16px auto;
}
#filtersContainer {
	width: 25%;
	background-color: #0060b6;
	color: rgb(229, 232, 235);
	padding: 16px;
}
#filtersContainer h3 {
	margin: 18px auto 32px;
}
#filtersContainer p {
	margin: 20px 0px;
	font-size: 18px;
	margin-left: 15px;
}
#imagesContainer {
	width: 75%;
	background-color: aqua;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.imageCard {
	margin: 16px;
	background: white;
	border-radius: 7px;
	width: 220px;
	cursor: pointer;
}
.galleryImg {
	width: 220px;
	border-radius: 7px 7px 0px 0px;
}
.imageCard p {
	padding: 5px 12px;
	/* padding: 0px 16px; */
}
.flex {
	display: flex;
	justify-content: space-between;
	align-items: center;
	/* height: 30px; */
}
.cardNumber {
	border: 2px solid rgb(229, 232, 235);
	border-radius: 5px;
	padding: 3px 10px;
}

/* ___________detailsPage styles________ */
#detailsMain {
	padding: 120px 32px 0px;
	display: flex;
}
.detailsLeft {
	width: 40%;
	border-radius: 7px;
}
#nftImage {
	width: -webkit-fill-available;
	border-radius: 7px;
}
.detailsRight {
	width: 60%;
	margin-left: 32px;
}
.detailsRight > p {
	margin: 16px 0px;
}
#title {
	color: rgb(21, 178, 229);
}
#nftName {
	font-size: 28px;
	font-weight: bold;
}

/* ____propertystyles___ */
#propsContainer {
	margin: 32px 0px;
}
#props {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-top: 16px;
}
.property {
	border: 1px solid rgb(21, 178, 229);
	border-radius: 5px;
	padding: 13px;
	width: 250px;
	text-align: center;
	margin: 5px 5px;
	background-color: rgba(21, 178, 229, 0.06);
}
.propertyName {
	color: rgb(21, 178, 229);
	text-transform: uppercase;
	font-size: 12px;
	text-align: center;
	margin-bottom: 7px;
}
.propertyValue {
	font-weight: bold;
}

/* ________aboutUs page styles_______ */
#aboutMain {
	padding: 120px 32px 0px;
}
#aboutMain p {
	line-height: 25px;
}
#small {
	text-align: center;
	font-size: 14px;
	margin-top: -14px;
}
#aboutMain h3 {
	text-align: center;
}
